.project {
  width: 100%;
  height: auto;
  padding: 15px 0;
  background-color: var(--background-section);
  border-top: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
}

.project-title {
  color: var(--primary-color);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-h2);
  padding: 20px 0 10px 0;
}

.project-text {
  color: var(--primary-text);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text);
  font-size: var(--font-size-text);
}

.project-cards {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px 0;
}

.card {
  color: var(--primary-color);
  text-decoration: none;
  width: 30%;
  display: flex;
  flex-direction: column;
  transition: all 300ms;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  overflow: hidden;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: var(--secondary-color);
  border-radius: 5px 5px 0 0;
}

.card-content {
  align-content: end;
  background-color: var(--secondary-color);
}

.card-content_title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  padding: 10px 0;
  border-radius: 30px 30px 0 0;
  border: solid 1px var(--border-color);
  border-bottom: none;
  background-color: var(--background);
  flex-shrink: 0;
}

.card-content_skills {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: auto;
  border: solid 1px var(--border-color);
  border-top: none;
  background-color: var(--background);
  margin-top: auto;
  flex-grow: 1;
  align-items: center;
}

.card-content_tags {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 0.8em;
  border-radius: 50px;
  padding: 5px 10px;
  list-style: none;
  color: white;
  background-color: var(--secondary-color);
}

@media (max-width: 1024px) {
  .project-cards {
    display: flex;
    gap: 1rem;
  }
  .project-cards_title {
    font-size: 0.8em;
  }

  .card {
    display: block;
    flex: 0 1 300px;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .card {
    height: 500px;
  }

  .card-image {
    height: 50%;
  }

  .project-cards_title {
    font-size: 0.75em;
  }
}
