.project {
  width: 100%;
  height: auto;
  padding: 15px 0;
  background-color: var(--background-section);
  border-top: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
}

.project-title {
  color: var(--primary-color);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-h2);
  padding: 20px 0 10px 0;
}

.project-text {
  color: var(--font-color-text);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text);
  font-size: var(--font-size-text);
  font-style: italic;
  letter-spacing: 0.08em;
  padding: 20px 0;
}

.project-cards {
  display: flex;
  flex-direction: column;
  min-height: auto;
  gap: 30px;
  justify-content: center;
  padding: 20px 0;
}

.card {
  color: var(--primary-color);
  text-decoration: none;
  margin: 20px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  transition: all 300ms;
   border: solid 1.5px var(--border-color);
}

.card-image {
  overflow: hidden;
}

.card-image img {
  display: block;
  border-radius: 5px 5px 0 0;
   max-width: 800px;
  max-height: 600px;
}

.card-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card-content_title{
  font-family: var(--font-family-title);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-title);
  padding: 20px;
}

.card-content_text1,.card-content_text2,.card-content_text3{
  font-family: var(--font-family-text);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  padding: 20px;
  letter-spacing: 0.05em;
  line-height: 1.3em;
}

.card-content_skills{
  margin: 10px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  color: white;
}

.card-content_tags{
  font-family: var(--font-family-title);

 background-color: var(--primary-color);
 border-radius: 25px;
 padding: 10px;
}


   
@media (max-width: 1400px) {
   .card-content_text {
    font-size: 1.2em;
    letter-spacing: 0.02em;
  }

  .card-content_tags{
 padding: 7px;
}
}
@media (max-width: 1024px) {
 .card{
  flex-direction: column;
  justify-content: center;
  align-items: center ;
 }
 .card-image{
  width: 90%;
 justify-items: center;
 }
 .card-content{
  width: 90%;
 }

}

@media (max-width: 600px) {
    .card-content_title{
      font-size: 1.3em;
    }
     .card-content_text1, .card-content_text2{
      font-size: 1em;
    }

    .card-content_text3{
      display: none;
    }

  
}
